<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Data</title>
</head>
<body>
    <center>
        <table>
            <tr>
                <th>Book</th>
                <th>Author</th>
                <th>Gmail</th>
                <th>Date</th>
            </tr>

            {% for lb in LLEP %}
                <tr>
                    <td>{{lb.Book}}</td>
                    <td>{{lb.Author}}</td>
                    <td>{{lb.Gmail}}</td>
                    <td>{{lb.Date}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>